.left-part {
  width: 16%;
  height: 100%;
  color: aqua;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.queue-cell {
  width: 40%;
  height: 8%;
  background: gray;
  border: 2px solid #344543;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.queue-cell__unit-info {
  height: 60%;
  display: flex;
  width: 100%;
}
.queue-cell__unit-info__options {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.queue-cell__unit-info__options__atack {
  color: red;
  width: 50%;
}
.queue-cell__unit-info__options__atack--active {
  color: red;
  width: 50%;
  border: 1px solid red;
}
.queue-cell__unit-info__options__defense {
  color: red;
  width: 50%;
}
.queue-cell__unit-info__image {
  width: 100%;
}
.queue-cell__HP {
  height: 40%;
}
.queue-cell__HP__bar {
  width: 100%;
  background-color: red;
  color: white;
}
